<div class="card my-3 p-2 shadow">

  <ng-container *ngIf="message">
    <div class="alert {{
    message.status ? 'alert-' + message.status : ''
  }} fade show" role="alert">
        {{ message.text }}
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" (click)="message = undefined"
            aria-label="close"></button>
    </div>
</ng-container>

<div class="title">
  <h2>User Form</h2>
</div>

<div class="col-12 has-validation">
  <label class="form-label">Fullname</label>
  <input type="text" class="form-control {{ isFieldValid('fullName')}}" placeholder="Full Name" formControlName="fullName" />
  <div class="invalid-feedback" validation-message [control]="userForm.controls['fullName']" [label]="'Full name'">
  </div>
</div>


<div class="body">
<form [formGroup]="userForm">
  <div class="row mt-5">
    <div class="col-6">
    <div class="row g-3 align-items-center fw-bolder mb-3">
      <div class="col-3">
        <label class="col-form-label">Username</label>
      </div>
      <div class="col-6 ">
        <input type="text" class="form-control " aria-describedby="username">
      </div>
    </div>
    <div class="row g-3 align-items-center fw-bolder mb-3">
      <div class="col-3">
        <label class="col-form-label">Password</label>
      </div>
      <div class="col-6">
        <input type="password" class="form-control" aria-describedby="password">
      </div>
    </div>
    <div class="row g-3 align-items-center fw-bolder mb-3">
      <div class="col-3">
        <label class="col-form-label">FullName</label>
      </div>
      <div class="col-6">
        <input type="text" class="form-control" aria-describedby="fullName">
      </div>
    </div>
    <div class="row g-3 align-items-center fw-bolder mb-3">
      <div class="col-3">
        <label class="col-form-label">Email</label>
      </div>
      <div class="col-6">
        <input type="email" class="form-control" aria-describedby="email">
      </div>
    </div>
    <div class="row g-3 align-items-center fw-bolder mb-3">
      <div class="col-3">
        <label class="col-form-label">Phone</label>
      </div>
      <div class="col-6">
        <input type="text" class="form-control" aria-describedby="phone">
      </div>
    </div>
    </div>
    <div class="col-6">
      <div class="row">
        <!-- picture -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner justify-content-center">
          <div class="carousel-item active">
            <img src="../../../assets/image/future2.jpg" class="d-block w-20" alt="pictcure girl">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/image/future2.jpg" class="d-block w-20" alt="picture motorcycle">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/image/future2.jpg" class="d-block w-20" alt="picture car">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
    </div>
    
  </div>
  <div class="row">
  <div class="col-6 justify-content-center" style="margin-top: -80px; margin-left: 150px;">
    <button class="btn btn-primary ms-5 "><i class="fas fa-save"></i></button>
    <button class="btn btn-danger ms-3" ><i class="fas fa-trash"></i></button>
  </div>
</div>
</form>
</div>
</div>
