<nav class="navbar navbar-expand-lg navbar-dark bg-app">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
    <span><img src="assets/image/stitch.svg" height="35" width="35" alt=""></span>
    
      Stitch's World</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Resume
          </a>
          <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/resume/brandsma"
                >Brandsma Siringoringo</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/resume/eny"
                >Eny Sulistyowati</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/resume/kenji"
                >Kenji Ferdian Santosa</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/guest-book">Guest Book</a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link active" routerLink="/donate">Donation</a>
        </li>
        <li class="nav-item"  *ngIf="isLoggedIn()">
          <a class="nav-link active" routerLink="/user-management">User Management</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link active" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link active" routerLink="/auth/logout">Logout</a>

        </li>
      </ul>
    </div>
  </div>
</nav>
