<div class="container-md shadow-lg m-2 mx-auto bg-dark">
  <div class="row">
    <aside class="col-5">
      <div class="row py-3 px-4 mb-3">
        <h2 class="fw-bold part fs-2 text-info mx-4">contact</h2>
        <dl class="row">
          <dt class="col-1">
            <span class="badge rounded-pill bg-info text-dark"
              ><i class="fas fa-envelope"></i
            ></span>
          </dt>
          <dd class="col-11 text-info">
            <a href="mailto:enysulistyowati336@gmail.com" class="link-info resp"
              >enysulistyowati336@gmail.com</a
            >
          </dd>

          <dt class="col-1">
            <span class="badge rounded-pill bg-info text-dark"
              ><i class="fas fa-phone"></i
            ></span>
          </dt>
          <dd class="col-11">
            <a href="tel:+6282 28339431" class="link-info text-decoration-none resp"
              >+6282 28339431</a
            >
          </dd>

          <dt class="col-1">
            <span class="badge rounded-pill bg-info text-dark"
              ><i class="fas fa-globe-asia"></i
            ></span>
          </dt>
          <dd class="col-11 text-info resp">Nganjuk, East Java</dd>
        </dl>
      </div>

      <div class="row px-4 mb-3">
        <h2 class="fw-bold part fs-2 text-info mx-4">interest</h2>
        <div class="row text-center">
          <div class="col-sm-5">
            <img src="assets/image/reading.png" alt="reading" height="70vh" />
            <p class="text-info text-center">reading</p>
          </div>
          <div class="col-sm-5">
            <img src="assets/image/hiking.png" alt="hiking" height="70vh" />
            <p class="text-info text-center">hiking</p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-sm-5">
            <img src="assets/image/code.png" alt="coding" height="70vh" />
            <p class="text-info text-center">coding</p>
          </div>
          <div class="col-sm-5">
            <img
              src="assets/image/taekwondo.png"
              alt="martial-art"
              height="70vh"
            />
            <p class="text-info text-center">martial-art</p>
          </div>
        </div>
      </div>

      <div class="row px-4 mb-3">
        <h2 class="fw-bold part fs-2 text-info mx-4">education</h2>
        <dl class="row">
          <dt class="col-1 text-info">
            <i class="fas fa-book-open"></i>
          </dt>
          <dd class="col-11 text-info">
            <p class="mb-0">D3 - Manajemen Informatika</p>
            <p class="mb-2 text-uppercase">
              <strong class="border-end border-2 border-info pe-1 me-1"
                >Politeknik Pratama Mulia </strong
              >2018-2021
            </p>
          </dd>
        </dl>
      </div>

      <div class="row px-4 mb-3">
        <h2 class="fw-bold part fs-2 text-info mx-4">experience</h2>
        <dl class="row">
          <dt class="col-1 text-info">
            <i class="fas fa-laptop-code"></i>
          </dt>
          <dd class="col-11 text-info">
            <p class="fw-normal lead mb-1">Trainee</p>
            <p>
              <strong class="border-end border-2 border-info pe-1 me-1"
                >Enigmacamp it Bootcamp
              </strong>
              Aug 2021 - Present
            </p>

            <ul class="list-group list-unstyled">
              <li class="list-items">
                <i class="fas fa-award text-info"></i> Design a system
              </li>
              <li class="list-items">
                <i class="fas fa-award text-info"></i> Design an application
                interface
              </li>
              <li class="list-items">
                <i class="fas fa-award text-info"></i> Develop a backend service
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="row px-4 mb-3">
        <h2 class="fw-bold part fs-2 text-info mx-4">project</h2>
        <dl class="row">
          <dt class="col-1 text-info">
            <i class="fas fa-file-code"></i>
          </dt>
          <dd class="col-11 text-info">
            <p class="fw-light fs-6 mb-1">
              Web Application "Sistem Informasi Keanggotaan Taekwondo"
            </p>
          </dd>
        </dl>
      </div>
    </aside>

    <div class="col-7">
      <div class="row justify-content-end py-4 mx-lg-3">
        <div class="row">
          <div class="col-8">
            <h1 class="text-info fw-normal fs-3">
              Hi, i'm <span class="fs-1 fw-bold part">Eny Sulistyowati</span>
            </h1>
          </div>
        </div>
        <div class="col-sm-10">
          <img
            src="/assets/image/eny_pp.png"
            class="img-thumbnail rounded-pill"
            alt="my profile picture"
          />
        </div>
      </div>

      <div class="row justify-content-center py-3 mx-lg-3">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-12">
              <h2 class="fw-bold part fs-2 text-info mx-4">
                Programming Language
              </h2>
              <div class="row mb-2">
                <div class="col-6 text-center">
                  <img src="/assets/image/php.png" height="50vh" alt="php" />
                </div>
                <div class="col-6 text-start">
                  <img src="/assets/image/java.png" height="50vh" alt="java" />
                </div>
              </div>

              <div class="row">
                <div class="col-6 text-center">
                  <img src="/assets/image/c.png" height="50vh" alt="c" />
                </div>
                <div class="col-6 text-start">
                  <img
                    src="/assets/image/database.png"
                    height="50vh"
                    alt="database"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-12">
              <h2 class="fw-bold part fs-2 text-info mx-4 text-center">
                Software Skills
              </h2>
              <div class="row mb-2">
                <div class="col-6 text-end">
                  <img
                    src="/assets/image/photoshop.png"
                    height="50vh"
                    alt="php"
                  />
                </div>
                <div class="col-6 text-start">
                  <img
                    src="/assets/image/illustrator.png"
                    height="50vh"
                    alt=""
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-center">
                  <img
                    src="/assets/image/linux.png"
                    class="rounded-pill"
                    height="50vh"
                    alt="php"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
