.photo {
  width: 200px;
  height: 200px;
}

.bg-all {
  background-color: #f6f6f6;
}

.bg-row-2 {
  background-color: #ba042d;
}

.text-all {
  color: #ececec;
}

.bg-footer {
  background-color: #f6f6f6;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid rgb(99, 75, 75);
  margin: 1em 0;
  padding: 0;
}
