@media screen and (max-width: 576px) {
    .loginImage{
        height:auto;
        width: 82vw;
    }
  }

@media screen and (max-width: 768px) {
    .container{
        padding-top: 25%;
        padding-bottom: 48%;
    }

    .loginImage{
        height:auto;
        width: 41vw;
    }
}