<div class="card shadow">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-8">
        <div class="input-group my-3">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
          <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchData"
        />
        </div>
      </div>
    </div>
  <div class="table-responsive">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Nama</th>
          <th>Tanggal Donasi</th>
          <th>Pesan</th>
          <th>Jumlah</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let donation of donations | filter: searchData">
          <tr>
            <td>{{ donation.donor }}</td>
            <td>{{ currentDate | date }}</td>
            <td>{{ donation.message }}</td>
            <td>{{ donation.amount | currency: "IDR " }}</td>
          </tr>
        </ng-container>
        <tr>
          <th>Jumlah Donasi</th>
          <td></td>
          <td></td>
          <th>{{ totalDonation | currency: "IDR " }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
