<div class="card shadow">
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Nama</th>
                    <th>Tanggal Donasi</th>
                    <th>Pesan</th>
                    <th>Jumlah</th>
                </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let donation of donations">
                    <tr>
                        <td>{{donation.donor}}</td>
                        <td>{{currentDate | date}}</td>
                        <td>{{donation.message}}</td>
                        <td>{{donation.amount | currency:'IDR '}}</td>
                    </tr> 
                  </ng-container>
                  <tr>
                      <td>Jumlah Donasi</td>
                      <td></td>
                      <td></td>
                      <td>{{totalDonation | currency:'IDR '}}</td>
                  </tr>
              </tbody>
        </table>
    </div>
</div>
