<div class="row mt-4">

<table class="table">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">FullName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>1</td>
        <td>Brandsma</td>
        <td>fsdlfdsdf</td>
        <td>Brandsma Siringoringo</td>
        <td>brandsma@gmail.com</td>
        <td>434645654655</td>
        <td>
            <button class="btn btn-primary" >in</button>
            <button class="btn btn-secondary" >out</button>
            <button class="btn btn-warning" >edit</button>
            <button class="btn btn-danger" >delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>