<div class="container">
    <h1 class="text-center">DONATION BOARD</h1>
    <button type="button" class="btn btn-outline-primary mb-3 donate">Donate Now</button>
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Jumlah</th>
                    <th>Tanggal Donasi</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                  </tr>
              </tbody>
        </table>
      </div>
</div>
