<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Blog</h1>
        <p class="lead text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, nemo.
          Facere sit libero quaerat, sed tenetur praesentium. Adipisci,
          doloremque minima.
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let blog of blogs">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>{{ blog.title }}</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
            </svg>

            <div class="card-body">
              <p class="card-text">
                {{ blog.content }}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View More
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    data-bs-whatever="@getbootstrap"
                  >
                    Edit
                  </button>
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Edit Blog
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="mb-3">
                              <label for="title" class="col-form-label"
                                >Title</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="title"
                              />
                            </div>
                            <div class="mb-3">
                              <label for="content" class="col-form-label"
                                >Content</label
                              >
                              <textarea
                                class="form-control"
                                id="content"
                              ></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="author" class="col-form-label"
                                >Author</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="author"
                              />
                            </div>
                            <div class="mb-3">
                              <label for="url" class="col-form-label"
                                >Url</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="url"
                              />
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <button type="button" class="btn btn-primary">
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
