<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Blog</h1>
        <p class="lead text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, nemo.
          Facere sit libero quaerat, sed tenetur praesentium. Adipisci,
          doloremque minima.
        </p>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#submitModal"
          data-bs-whatever="@getbootstrap"
          *ngIf="isLoggedIn()"
        >
          Create Blog
        </button>
        <div
          class="modal fade"
          id="submitModal"
          tabindex="-1"
          aria-labelledby="submitModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="submitModalLabel">Create Blog</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
                  <div class="row mb-3">
                    <div class="col">
                      <div class="form-floating mb-3 has-validation">
                        <input
                          type="text"
                          class="form-control"
                          [ngClass]="isFieldValid('title')"
                          placeholder="Title"
                          formControlName="title"
                        />
                        <label for="">Title</label>
                        <div
                          class="invalid-feedback"
                          validation-message
                          [control]="blogForm.controls['title']"
                          [fieldLabel]="'title'"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <div class="input-group mb-3 has-validation">
                        <textarea
                          name=""
                          id=""
                          cols="30"
                          rows="10"
                          type="text"
                          class="form-control"
                          [ngClass]="isFieldValid('content')"
                          placeholder="Content"
                          formControlName="content"
                        ></textarea>
                        <div
                          class="invalid-feedback"
                          validation-message
                          [control]="blogForm.controls['content']"
                          [fieldLabel]="'content'"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button
                        type="reset"
                        class="btn btn-secondary mx-2"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                    <div class="col">
                      <button
                        type="submit"
                        class="btn btn-primary mx-2"
                        [disabled]="blogForm.invalid"
                        data-bs-dismiss="modal"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let blog of blogs">
          <div class="card">
            <h5 class="card-header">{{ blog.title | titlecase }}</h5>
            <div class="card-body">
              <p class="card-text">
                {{ sliceContent(blog.content) }}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ blog.author }}</small>
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="/blog/detail/{{ blog.url }}"
                  >
                    View More
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal"
                    data-bs-whatever="@getbootstrap"
                    *ngIf="isLoggedIn()"
                    [routerLink]="['/', 'blog', blog.id]"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-outline-secondary"
                    title="Delete"
                    (click)="onDelete(blog.id!)"
                    *ngIf="isLoggedIn()"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
